

.container-fluid{
    padding: 0px;
}
main{
    margin: 20px auto;
    height: 100vh;
}
#search-form{
    border-bottom: 3px solid black;
}
.card{
    background-color: transparent;
    border:none;
    text-align: left;
}
.card-header{
    background-color: white;
    border-bottom: none;
    font-weight: bold;
    padding: 4px;
}
.card-body{
    padding: 4px;
}
.form-input{
    padding:3%;
}

.btn, .form-input{
    width: 100%;
    display: block;
    margin: 5px 0px;
}
.favor{
    background-color: green;
}
.mod{
    background-color: yellow;
}
.severe{
    background-color: red;
}
ul {
    list-style: none;
    padding-left: 0px;
}
li{
    padding: 10px;
    font-size: 18px;;
}
#weather-icon, #forecastIcon{
    height: 50px;
    width: 50px;
}
.hidden{
    display:none;
}
h4{
    font-size: 16px;
    padding-left: 0px;
    text-align: left;
}
#forecast-container{
    padding: 0px 15px ;
}
#fore{
    width: 18%;
    background-color: lightblue;
}
#foreDate{
    background-color: lightblue;
}
/* change margins and line height of hs, and font */
/* add border radius/effects to make uv i look nicer */